<ul>
{{#each players as |player|}}
<h4>{{player.name}}</h4>
<li>Age: {{player.age}}</li>
<li>Position: {{player.position}}</li>
<li>Number: {{player.jerseyNumber}}</li>
<li>National Squad: {{player.nationality}}</li>
{{/each}}
</ul>
